@font-face{
    font-family: 'coolvetica';
    src: url('https://www.dafont.com/pt/coolvetica.font');
}


@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/?family=Inter:wght@100..900&display=swap');
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* ------------------------- NAV --------------------*/


#menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    transition: 0.3s;
}

#menu > img{
    width: 25vh;
    height: 15.5vh;
    float: left;
}

#menu > a {
    text-align: center;
    font-family: 'Inter';
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    overflow: hidden;

}

#menu > a:hover {
        border-bottom: 0.3vh solid black;
      }
      
      #menu > a.active {
        border-bottom: 3px solid black;
      }


/* ----------------------  BARRA DE PESQUISA  ------------------------------ */
/* Estiliza o contêiner de busca */
.meu_search-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Estiliza o ícone da lupa */
#meu_icon {
    cursor: pointer;
    font-size: 2vh; /* Ajuste o tamanho do ícone conforme necessário */
    font-weight: bold;
    position: absolute;
    left: 5vh; /* Posição original do ícone */
    top: 2vh;
    z-index: 1;  /* Garante que o ícone fique sobre o input quando este expandir */
    transition: left 0.4s ease; /* Transição suave para o movimento do ícone */
}

/* Estiliza o campo de texto (input) */
.search-input {
    font-size: 2vh;
    font-family: 'Inter';
    padding: 10px 10px 10px 35px; /* Adiciona espaço suficiente para o ícone dentro do input */
    border: 0.2vh solid white;  /* Cor e espessura da borda */
    border-radius: 5vh;      /* Bordas arredondadas */
    width: 0;                /* Começa com largura zero */
    outline: none;           /* Remove a borda azul padrão ao focar */
    opacity: 0;              /* Campo invisível inicialmente */
    transition: width 0.4s ease, opacity 0.4s ease; /* Transição suave para largura e opacidade */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Estilo quando o input está visível */
.meu_search-container.active .search-input {
    width: 55vh;            /* Largura total quando ativo */
    opacity: 1;              /* Faz o campo aparecer */
    padding: 10px 10px 10px 35px;    /* Mantém o espaço para o ícone dentro do input */
}

/* Muda a posição do ícone quando a barra de pesquisa é ativada */
.meu_search-container.active #meu_icon {
    left: 15px; /* Nova posição do ícone quando a barra é ativada */
}

/* Estilo quando o input é focado */
.search-input:focus {
    border-color: black;       /* Muda a cor da borda ao focar */
    background-color: white; /* Muda a cor do fundo ao focar */
}

/*----------------------------BOTÃO PERFIL --------------------*/
#menu > .perfil-container{
    padding: 10px 20px;
    color: rgb(0, 16, 107);
    font-family: 'Inter';
    text-decoration: none;
    border-radius: 3px;
}

/* ---------------------------------------------  CARROSSEIS   ---------------------------------------------------- */

.title {
    font-size: 3vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 11vh;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 300vh;
    overflow: hidden;
    padding: 0 10vh;
}

.carousel-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.album-button, .track {
    flex: 0 0 auto;
    margin: 0 10px;
    width: 150px;
}

.title-track, .title-album {
    text-align: start;
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
}

.track-artist{
    color: black;
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Inter';
    text-decoration: none;
    text-align: start;
}

.album-button img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 5vh;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.carousel-arrow:hover {
    background-color: transparent;
    color: black;
}

.album-button, .track {
    flex: 0 0 auto;
    margin: 0 10px;
    width: 150px;
    position: relative; /* Para permitir o posicionamento do botão de play */
}

.album-button img, .track img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.play-button-container {
    position: absolute;
    top: 0.001vh;  /* Posição no canto superior */
    right: 0.25vh;  /* Posição no canto direito */
    background-color: white; /* Fundo branco para destaque */
    border-radius: 20%;  /* Bordas arredondadas para combinar com o ícone */
    padding: 8px;  /* Espaçamento interno ao redor do botão */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  /* Sombra para destacar o botão */
}

.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button i {
    font-size: 20px;
    color: black;
}

.play-button-container:hover .play-button {
    background-color: white; /* Fundo branco ao passar o mouse */
}

.play-button-container:hover i {
    color: black;
}

.preview-unavailable {
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
    color: red;  /* Cor do texto */
    font-weight: bold;
    margin-top: 10px; /* Espaçamento superior */
    text-align: left;
}

/*--------------------------------- FOOTER -------------------------------------------------*/
footer {
    background-color: #000000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.footer-content {
    max-width: 1200px; /* Largura máxima */
    margin: auto; /* Centraliza o conteúdo */
    font-family: 'Inter';
}
